<div class="container">
	<h2>My todos</h2>
	
	<!-- Todos input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="valor" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
	
	
  <div ui-sortable ng-model="todos">
  <p class="input-group" ng-repeat="todo in todos track by $index" ng-show="muestraReg(todo)" style="padding:5px 10px; cursor: move;">
    <span class="input-group-addon">
      <input type="checkbox" ng-model="todo.completo" aria-label="...">
    </span>
    <input type="text" ng-model="todo.valor" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
    </span>
  </p>
  
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <button type="button" ng-click="tipoLista.value = 'A'" class="{{botonActivo('A')}}">Activos
      <span class="badge">4</span>
    </button>
  </div>
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <button type="button" ng-click="tipoLista.value = 'C'" class="{{botonActivo('C')}}">Completos
      <span class="badge">{{todos.length}}</span>
    </button>
  </div>
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <button type="button" ng-click="tipoLista.value = 'T'" class="{{botonActivo('T')}}">Todos
      <span class="badge">{{todos.length}}</span>
    </button>
  </div>
</div>

</div>